/* Traitement des médias

Sommaire :

    1. Images et vidéos
    2. Duotone/Overlay
*/

/* Images et vidéos */

img,
video {
    max-width: 100%;
    height: auto;
}

/* Duotone/Overlay */

.duotone {
    position: relative;
    background-color: var(--brand-green-light);
}

.duotone>img {
    display: block;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.duotone::before {
    content: "";
    position: absolute;
    background-color: var(--brand-green-simple);
    opacity: 0.2;
    z-index: 1;
    mix-blend-mode: lighten;
    inset: 0;
}

.duotone__special {
    position: relative;
    background-color: var(--brand-magenta);
}

.duotone__special>img {
    display: block;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.duotone__special::before {
    content: "";
    position: absolute;
    background-color: var(--system-1);
    opacity: 0.2;
    z-index: 1;
    mix-blend-mode: lighten;
    inset: 0;
}

.duotone__main {
    position: relative;
    background-color: var(--brand-blue-dark);
}

.duotone__main>img {
    display: block;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.duotone__main::before {
    content: "";
    position: absolute;
    background-color: var(--);
    opacity: 0.2;
    z-index: 1;
    mix-blend-mode: lighten;
    inset: 0;
}