/* Variables CSS

Sommaire :

    1. Styles de l'harmonie colorée
    2. Polices de caractère
    3. Tailles de police de caractère
    4. Font variantes
    5. Espacements
*/

:root {
    /* Styles de l'harmonie colorée */
    --brand-green-dark: #264F42;
    --brand-green-simple: #729B4E;
    --brand-green-light: #50A37D;
    --brand-blue-dark: #3E516B;
    --brand-magenta: #A358A2;
    --black-1: #1B1B1B;
    --black-2: #383838;
    --grey-1: #C6C6C6;
    --grey-2: #E2E2E1;
    --white: #FAFAFA;
    --system-1: #971B19;
    --system-2: #F5B019;

    /* Polices de caractère */
    --font-heading-1: 'Futura Md BT', sans-serif, medium;
    --font-heading-2: 'Lucida', sans-serif, bold;
    --font-body: 'Gadugi', sans-serif;
    --font-small-text: 'Gadugi', sans-serif;
    --font-button: 'Lucida', sans-serif, bold;
    --font-small-uppercase: 'Gadugi', sans-serif;
  
    /* Tailles de police de caractère */
    --title-main: 2rem;
    --title-xxl: 1.8rem;
    --title-xl: 1.6rem;
    --title-md: 1.4rem;
    --title-sm: 1.5rem;
    --text-xxl: 1.2rem;
    --text-xl: 1rem;
    --text-md: 0.875rem;
    --text-sm: 0.75rem;
    --text-xs: 0.625rem;

    /* Font variantes */
    --letter-spacing: 1.7rem;

    /* Espacements */
    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 32px;
    --space5x: 40px;
    --space6x: 48px;
    --space7x: 56px;
    --space8x: 64px;
    --space9x: 72px;
    --space10x: 80px;
}