/* Article

Sommaire :

    1. Article Images
    2. Article Vidéos
    3. Article Textes
    4. Alignement
    5. En savoir +
*/

/* Article Images */

.article__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__image-contener {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    padding-bottom: 2.8vh;
    padding-top: 4.2vh;
    box-sizing: border-box;
}

.article__image-source {
    width: 100%;
    max-width: 300%;
    height: 200%;
    object-fit: cover;
    border-radius: 1.8vh;
    transition: transform 0.25s ease-in-out;
}

.article__image-source:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* Article Vidéos */

.article__video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__video-contener-1 {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    padding-bottom: 4.2vh;
    padding-top: 4.2vh;
    box-sizing: border-box;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}

.article__video-contener-2 {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    padding-bottom: 4.2vh;
    box-sizing: border-box;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}

.article__video-contener-1:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s
}

.article__video-contener-2:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
}

/* Article Textes */

.article__text__alinea {
    text-indent: 5%;
}

.article-intro,
.article-details {
    margin-left: auto;
    margin-right: 1.4vh;
    padding-top: 2.8vh;
    padding-left: 1.4vh;
}

.article-details {
    font-family: var(--font-small-text);
    font-size: 3vw;
    text-align: right;
    margin-bottom: 1.4vh;
}

.article-details p {
    margin-bottom: 0;
}

.text-main {
    margin-bottom: 1.4vh;
    margin-left: 4.2vh;
    margin-right: 4.2vh;
}

.text-main-low {
    margin-bottom: 1.4vh;
    margin-top: 1.4vh;
    font-size: 3vw;
}

/* Alignement */

.score-mid {
    display: flex;
    vertical-align: middle;
    list-style-type: none;
    margin-bottom: 2.8vh;
    margin-top: 2.8vh;
    color: var(--system-2);
    margin-left: 4.2vh;
    margin-right: 4.2vh;
}

.score-mid a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.score-mid h3 {
    margin: 0;
    font-family: var(--font-small-text);
    font-size: 1.5vh;
    flex-grow: 1;
    color: var(--system-2);
}

.score-mid-paleo {
    list-style-type: none;
    margin-bottom: 2.8vh;
    margin-top: 2.8vh;
    color: var(--system-2);
    margin-left: 4.2vh;
    margin-right: 4.2vh;
}

.score-mid-paleo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.score-mid-paleo h3 {
    margin: 0;
    font-family: var(--font-small-text);
    font-size: 2vh;
    flex-grow: 1;
    color: var(--system-2);
}

.score-mid-paleo-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* En savoir + */

.furthermo {
    background-color: var(--black-1);
    padding-left: 2.8vh;
    padding-right: 2.8vh;
    border-radius: 1.8vh;
    margin-left: 4.2vh;
    margin-right: 4.2vh;
    margin-top: 4.2vh;
}

.furthermo h4 {
    color: var(--brand-magenta);
    padding-bottom: 1.4vh;
    padding-top: 0.7vh;
    font-family: var(--font-button);
    font-size: 2.5vw;
    text-transform: uppercase;
}

.furthermo-paleo {
    background-color: var(--brand-green-light);
    padding-left: 2.8vh;
    padding-right: 2.8vh;
    border-radius: 1.8vh;
    margin-left: 4.2vh;
    margin-right: 4.2vh;
    margin-top: 4.2vh;
}

.furthermo-paleo h4 {
    color: var(--white);
    padding-bottom: 1.4vh;
    padding-top: 0.7vh;
    font-family: var(--font-button);
    font-size: 2.5vw;
    text-transform: uppercase;
}