/* Article

Sommaire :

    1. Article Images
    2. Article Vidéos
    3. Article Textes
*/

/* Article Images */

.article__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__image-contener {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    padding-bottom: 4.2vh;
    padding-top: 4.2vh;
    box-sizing: border-box;
}

.article__image-source {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 1.8vh;
    transition: transform 0.25s ease-in-out;
}

.article__image-source:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* Article Vidéos */

.article__video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__video-contener-1 {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    padding-bottom: 4.2vh;
    padding-top: 4.2vh;
    box-sizing: border-box;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}

.article__video-contener-2 {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    padding-bottom: 4.2vh;
    box-sizing: border-box;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}

.article__video-contener-1:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s
}

.article__video-contener-2:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
}

/* Article Textes */

.article__text__alinea {
    text-indent: 5%;
}

.article-intro,
.article-details {
    margin-left: 20px;
    margin-right: 20px;
}