/* Footer des pages

Sommaire :

    1. Règles d'ensemble
    2. Début du Footer
    3. Milieu du Footer
    4. Partie Réseau du Footer
    5. Fin du Footer
*/

/* 1. Règles d'ensemble */

.footer {
    background-color: var(--);
    padding: var(--) var(--);
    display: flex;
    flex-direction: column;
    gap: var(--);
}

.footer__list {
    display: block;
    gap: var(--);
}

.footer__title {
    margin-top: var(--);
    text-transform: uppercase;
    font-size: var(--);
    letter-spacing: var(--);
    color: var(--);
}

.footer__icon {}

/* 2. Début du Footer */

.footer__begin {}

.footer__logo {
    cursor: pointer;
}

footer__menu {}

/* 3. Milieu du Footer */

.footer__middle {}

.footer__middle__arrow {
    cursor: pointer;
}

.footer__middle__signature {}

/* 4. Partie Réseau du Footer */

.footer__social {
    display: flex;
}

.footer__iconSocial {
    width: ;
}

/* 5. Fin du Footer */

.footer__end {}

.footer__address {}

.footer__logo__mmi {}

.footer__host {}

.footer__host-link {}