/* Header des pages

Sommaire :

    1. Règles d'ensemble
    2. Début du Header
    3. Fin du Header
    4. Sélection Langue
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    display: flex;
    justify-content: space-between;
    background-color: var(--brand-blue-dark);
    transition: background-color 0.3s ease;
    transition: opacity 0.3s ease;
}

.header--atTop {
    background-color: transparent;
}

.header__logo {
    max-width: 100%;
    margin-right: var(--space3x);
    transition: all 0.3s ease;
}

.header__end {
    display: flex;
    gap: var(--space2x);
    align-items: center;
}

.header__language-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.header__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.header--invisible {
    display: none;
}

/* Sélection Langue */

#lang-button {
    margin-right: 15px;
}

#lang-button a {
    display: inline-block;
}

#lang-button img {
    width: 32px;
    height: 32px;
    margin: auto 3px;
}

.inactive {
    opacity: 0.5;
}

#lang-button img:hover {
    cursor: pointer;
    transition: all .5s;
    opacity: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}