/* Composant - Card

Sommaire :

    1. Cards
    2. Contenus des Cards
    3. Cards sur les Articles
    4. Card sur le Paléoart
    5. Cards des Autres Projets
    6. Réglages images des Cards
    7. Contenus textuels des Cards
    8. Icônes des Cards
*/

#card__fixed {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--brand-green-light);
}

/* 1. Cards */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2.8vh;
    grid-gap: 3.5vh;
}

.card {
    background-color: var(--white);
    border-radius: 1.8vh;
    box-shadow: 0vh 0vh 1.8vh var(--black-1);
}

/* 2. Contenus des Cards */

.card__content {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__content:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.8vh 1.8vh 0 0;
    opacity: 0.7;
}

/* 3. Cards sur les Articles */

.card__article {
    position: relative;
    overflow: hidden;
}

.card__article>.card__content:after {
    background-image: linear-gradient(180deg,
            var(--brand-green-light),
            var(--brand-green-simple));
    z-index: 1;
    transition: background-image 0.3s ease;
}

.card__article:hover>.card__content:after {
    background-image: none;
}

/* 4. Card sur le Paléoart */

.card__special {
    position: relative;
    overflow: hidden;
}

.card__special>.card__content:after {
    background-image: linear-gradient(180deg,
            var(--brand-blue-dark),
            var(--brand-magenta));
    z-index: 1;
    transition: background-image 0.3s ease;
}

.card__special:hover>.card__content:after {
    background-image: none;
}

/* 5. Cards des Autres Projets */

.card__projects {
    position: relative;
    overflow: hidden;
}

.card__projects>.card__content:after {
    background-image: linear-gradient(180deg,
            var(--brand-magenta),
            var(--system-1));
    z-index: 1;
    transition: background-image 0.3s ease;
}

.card__projects:hover>.card__content:after {
    background-image: none;
}

/* 6. Réglages images des Cards */

.card__image {
    border-radius: 1.8vh 1.8vh 0vh 0vh;
    display: block;
    width: 100%;
}

/* 7. Contenus textuels des Cards */

.card__text {
    padding: 2.8vh 2vh;
}

.card__text>h3 {
    color: var(--black-1);
    font-size: var(--title-md);
    color: var(--brand-green-light);
    font-family: var(--font-small-uppercase);
    margin: 1.4vh 0vh 2.1vh 0vh;
}

.card__special .card__text>h3.special-color {
    color: var(--brand-magenta);
}

.card__projects .card__text>h3.projects-color {
    color: var(--system-1);
}

.card__text>p {
    color: var(--black-2);
    font-size: var(--text-xl);
    line-height: var(--letter-spacing);
}

/* 8. Icônes des Cards */

.card__size-up-icon {
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    position: absolute;
    width: 4vh;
    top: 2.5%;
    right: 2.5%;
    z-index: 2;
}

.card__size-up-icon:hover {
    transform: scale(1.15);
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
    transform-origin: center center;
}

.card__size-down-icon {
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    position: absolute;
    width: 4vh;
    top: 2%;
    right: 1.5%;
    z-index: 2;
}

.card__size-down-icon:hover {
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transform: scale(1.15);
    cursor: pointer;
    transform-origin: center center;
}

.card__flower-link {
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    position: absolute;
    width: 6vh;
    bottom: 5%;
    left: 2.5%;
    z-index: 2;
}

.card__flower-link:hover {
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transform: scale(1.15);
    cursor: pointer;
    transform-origin: center center;
}