/* Composant - Carousel

Sommaire :

    1. Base
    2. Éléments parents
*/

/* Base */

.carousel {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    white-space: nowrap;
}

/* Éléments parents */

.carousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel_ecran {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    scroll-snap-align: start;
    text-align: center;
    scroll-snap-stop: always;
}

.carousel_ecran img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel_ecran figure {
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
    text-decoration-color: var(--secondary-color);
}

.carousel_btn {
    position: absolute;
    top: 50%;
    top: calc(min(730px, 100vw) / 16 * 9 / 2 + 1rem);
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: var(--black);
    border-radius: 100%;
    border: none;
    display: grid;
    place-content: center;
    color: var(--white);
    cursor: pointer;
    padding: 5px 17px;
}

.carousel_btn-avant {
    left: 0;
}

.carousel_btn-apres {
    right: 0;
}

.carousel .carousel_btn {
    top: calc(9/20 * 100vh);
}

.carousel_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel_description {
    color: var(--white);
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    font-style: oblique;
}