/* Composant - Carousel

Sommaire :

    1. Base
    2. Éléments parents
*/

/* Base */

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
    text-align: center;
    gap: var(--space3x);
    margin-left: 20px;
    margin-right: 20px;
}

/* Éléments parents */

.carousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel_ecran {
    flex: none;
    scroll-snap-align: start;
    padding-left: 1.4vh;
    padding-right: 2.8vh;
    padding-bottom: 4.2vh;
    padding-top: 4.2vh;
}

.carousel_ecran img {
    object-fit: cover;
    display: block;
}

.carousel_ecran figure {
    margin: 0;
    overflow: hidden;
    border-radius: 1.8vh;
}

.carousel_images {
    width: auto;
    height: 350px;
}

.carousel_description {
    display: relative;
    background-color: var(--brand-green-simple);
    color: var(--white);
    font-size: 13px;
    font-family: var(--font-small-text);
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    padding-bottom: 1.4vh;
    padding-top: 0.7vh;;
}