/* Composant - Formulaire de contact

Sommaire :

        1. Base
        2. Bouton
*/

/* Base */

form {
    max-width: 80%;
    margin: 5vh auto 0 auto;
    padding: 2vw;
    border-radius: 1.8vh;
    box-shadow: 0 0 1vh var(--grey-1);
    padding-left: 2.8vh;
    padding-right: 2.8vh;
    padding-bottom: var(--space5x);
    padding-top: var(--space1x);
}

label {
    display: block;
    margin-top: 2.5vh;
    font-weight: bold;
    color: var(--brand-green-dark);
    font-weight: bold;
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    padding: 1vw;
    margin-bottom: 1.5vw;
    box-sizing: border-box;
    border: 0.1vw solid var(--grey-1);
    border-radius: 0.6vh;
    font-size: 1.4vw;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: var(--brand-green-dark);
    color: var(--white);
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
    padding: 2vw;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: var(--brand-green-light);
}

.question {
    font-family: var(--font-small-text);
    font-size: 2vh;
    margin-top: 2.8vh;
    margin-right: 2.8vh;
    margin-left: 2.8vh;
}

/* Bouton */

.button-mid {
    display: flex;
    align-items: center;
    margin-left: 2.8vh;
    margin-right: 2.8vh;
    margin-top: 2.8vh;
}

.buttoninteract {
    width: 3vh;
    height: 3vh;
}

.buttoninteract-correction {
    width: 65%;
    height: 65%;
    margin-right: 2.8vh;
}

.buttoninteract-correction_fr {
    width: 40%;
    height: 40%;
    margin-right: 2.8vh;
}

.button-mid h4 {
    font-family: var(--font-small-text);
    font-size: 1.5vh;
    margin-right: 2.8vh;
    margin-left: 2.8vh;
}